---
http_interactions:
- request:
    method: get
    uri: http://liebertac1.bobst.nyu.edu/graphic/env.htm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |-
        <html><head>
        <link rel="stylesheet" type="text/css" href="../rightPanelStyle.css">
        <link rel="stylesheet" type="text/css" href="../powerFlowStyle.css">
        <style type="text/css">
        .areaTitleStyle { font-size:12px; }
        .defaultTableStyle { font-size:9px;}
        .graphTableFont { font-size:9px; color:blue; }
        .blueTextStyle { font-size:12px; color:blue; }
        .blackTextStyle { font-size:12px; color:black; }
        .grayTextStyle { font-size:12px; color:gray; }
        .rightAlignAreaStyle { font-size:14px; color:black; font-weight:bold; text-align:right; }
        .leftAlignAreaStyle { font-size:14px; color:black; font-weight:bol[...]
